
body {
    background-image: url('../img/hexellence.png');
}

.tictac-cell {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;            
}

#player-turn-label {
    margin-bottom: 64px;
}

#container {
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
}

#field {
    margin-left: auto;
    margin-right: auto;
}

#image-loader {
    display:none;
}

